/* JADE VEENSTRA*/

/* menu is displayed in one line*/
.menu{
    display: inline-block;
    padding:8px;
    border-radius:20px;
    background-color:#8A6240;
}

/* the navigation/menu bar is aligned to the centre, spaced evenly and flex is added*/
.nav{
    display: flex;
    background-color:#2b180c;
    justify-content: space-evenly;
    align-items: center; 
}

/* the background is set to a graphic image which is not repeated, covers the whole webpage and is centered*/
.home{ 
    background-image: url('../images/khakibackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CustomLink{
    color:#2b180c;
}

/* WILL STEVENS*/

/*Adds background colour*/
.page{
    background-color:#CABA9C;
}

.logo{
    float:right;
}

.title, .note{
    color:#2b180c;
}
/*Changes colour of fieldset text values*/
fieldset{
    color:#2b180c;
    border-color:#2b180c;
    border-radius:20px;
    width:750px;
}

select, input{
    color:#2b180c;
    background-color:#8A6240;
    border-radius:20px;
    
}

select:hover{
    color:#102820;
    background-color:#4C6444; 
}

input:hover{
    color:#102820;
    background-color:#4C6444;   
}
